*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.banner{
    background-image: url(../images/donation15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    padding: 175px 307px 175px 307px;
}